main {
    padding: 40px calc(50% - 496px);
    }
    .post {
        display: grid;
grid-template-columns: repeat(5, 1fr);
 gap: 15px;
	padding: 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0 #0008;
    }
